__pycache__
# artifact files
*.npy
*.pth
*.png
*.zip
*.npz
*.pkl
*.json
*.hdf5

# temporary directories
runs/
samples/
slurm/
walls/
wandb/
models/
.idea/
.models/
doors/
.ipynb_checkpoints

# hastily generated data
floorplan_suppl*
floorplan_nodes*
floorplan_living*

cond_lifull*
cond_rplan*